/*********
 * Common
 **********/

html {
    font-family: Helvetica Neue, sans-serif;
    font-size: 15px;
    color: #3e3e3e;
    line-height: 165%;
}

body {
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0;
}

pre {
    padding: 10px;
    color: #EAEAEA;
    background-color: #2B2B2B;
    font-size: 13px;
    line-height: 110%;
    overflow: auto;
    margin: 10px 20px;
}


h1 {
    font-size: 22px;
    margin-top: 30px;
    color: #6F6F6F;
}

h3 {
    color: #6F6F6F;
}

ul li {
    list-style-type: circle;
    padding: 5px;
}

ol li {
    list-style-type: number;
    padding: 5px;
}

a {
    color: #6E9EBE;
    font-weight: bold;
    text-decoration: none;
}


audio {
    margin: 0 auto;
    text-align: center;
}

div.figure {
    text-align: center;
}

div.figure p.caption {
    font-style: italic;
}

div.clear {
    clear: both;
}

p code {
    background: #efefef;
    padding: 0px 3px;
}


/*********
 * Header
 *********/

div#header {
    font-size: 18;
    font-weight: bold;
    background-color: #FFFFFF;
    /* margin: 0 0 10px 0; */
    margin: 0px 0px;
    position: relative;
    /* padding: 8px 0 28px 0; */
    padding: 20px 0px 30px 0px;
}

div#header a {
    color: #696969;
    text-decolation: none;
}

div#header_contents {
    /* width: 70%; */
    /* max-width: 900px; */
    /* width: 656px; */
    width: 780px;
    margin: 30px auto;
}

div#header_left {
    float: left;
}

div#header_left a:hover {
    color: #9F9F9F;
}

div#site_name {
    font-size: 22px;
    font-width: bold:
    padding: 0;
    margin: 0;
    border-bottom: dotted 2px #aeaeae;
    /* background-color: #69ce69; */
}

div#site_name_contents {
    width: 70%;
    max-width: 900px;
    /* margin: 20px auto 0 auto; */
    margin: 0 auto;
    padding: 50px 0 16px 0;
}

div#site_name {
    /* font-size: 30px; */
    margin: 0;
    padding: 0 0 8px 0;
}

div#site_name a {
    color: #6F6F6F;
    /* font-size: 30px; */
}

/*********
 * Content
 *********/

div#content {
    /* width: 656px; */
    width: 780px;
    margin: 0px auto 10px auto;
    background-color: #FFFFFF;
    height: 100%;
    min-height: 500px;
    padding: 10px 0px;
}

div#content a:hover {
    color: #FF9E9E;
}

div#navigation {
    float: right;
}

div#navigation a {
    margin-left: 35px;
}

div#navigation a:hover {
    border-bottom: solid 2px #AFAFAF;
}

div#navigation a:active {
    border-bottom: solid 2px #AFAFAF;
}


/********
 * Footer
 ********/

div#footer {
    text-align: center;
    font-size: 11px;
    /* margin-top: 30px; */
    padding: 80px 0 20px 0;
}

div#footer_content {
}

div#footer a:hover {
    color: #FF9E9E;
}


/*******
 * Home
 *******/

div#home_about {
    padding: 0;
    /* float: center; */
    float: right;
    width: 48%;
}

div#home_contact {
    padding: 0;
    float: left;
    width: 48%;
}

div#recent_posts {
    padding: 0;
    float: left;
    width: 48%;
}

div#tag_cloud {
    padding: 0;
    float: right;
    width: 48%;
}

/**********
 * Archive
 **********/

div#post_date {
}

div.post_tags {
    padding-bottom: 10px;
}

ul#post_list {
    padding-left: 0px;
}

ul#post_list li {
    list-style-type: none;
}

div#all_posts ul li {
    list-style-type: none;
}

/*******
 * Post
 *******/

div#post_body {
}

/*******
 * 404
 ******/

div#not_found {
    padding: 100px 0 100px;
    text-align: center;
}

div#not_found_upper {
    padding: 100px 0 100px 0;
}

div#not_found_upper a {
    color: #6F6F6F;
    font-size: 200px;
    font-family: Helvetica Neue, sans-serif;

}

div#not_found_lower {
    padding-top: 30px;
    font-size: 80px;
}